@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.head{
    font-family: "Poppins", sans-serif;

}
.para{
   
}
.btn{
    background-color: aqua;
}
.bg-img{
    background-image: url(https://img.freepik.com/free-photo/beautiful-nature-landscape-with-black-sandy-beach-ocean_23-2151380423.jpg?t=st=1719415627~exp=1719419227~hmac=e3cf97e0e1b221ff12e4cc37c45d029cdb35e3ea1c21331354b2e736de9a6cdd&w=1060);
    height:1000px;
    background-repeat: no-repeat;
    background-size: contain;
}
.card{
    background-color: white;
}